body {
  background-color: #2d753b;
}

.page-container {
  height: 20em;
  width: 30em;
  border: 3px solid white;
  padding: 0.5em;
}

.content {
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.timeBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  margin: 0 0.5em
}